<!--#THE HOMEPAGE THAT SHOWS THE RPODUCTS-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Simple Bootstrap Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1>Welcome to My Gold Shop</h1>
        <p>Choose from the items below:</p>
        <p><a class="btn btn-primary" href="checkout.html" role="button">Checkout</a></p>
        <br>
        <br>
        <a href="/shop?rec=1">One gold bar</a>
        <br>
        <a href="/shop?rec=2">Two gold bars</a>
        <br>
        <a href="/shop?rec=3">Three gold bars</a>
        <br>
        <a href="/shop?rec=4">100 gold bars</a>
        <br>
        <a href="/shop?rec=5">100,000 gold bars</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>