<!doctype html>
<html lang="en">
<head>
    <style>
        .centerContent {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="centerContent">
        <h1>ITEM: <%= myMessage %></h1>
        <h2>Model: <%= model %></h2>
        <h2 id="price"><%= myPrice %></h2>
        <img src="images/<%= myImage %>" width="90px">
        <br>
        <select id="quantity" name="quantity">
            <option value="0">0</option>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <button onclick="addToCart()">Add to Cart</button>
        <br>
        <a href="home">Back to Home page</a>
</div>
</body>
</html>

<script>
    function addToCart() {
        //alert("This is from the function!");
        let product = document.getElementById("product").innerHTML;
        let quantity = document.getElementById("quantity").value;
        let price = document.getElementById("price").innerHTML;
        let quan_price = {p: price, quan: quantity};
        //localStorage.test = quantity;
        localStorage.setItem(product, JSON.stringify(quan_price));
    }
</script>